* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


/* HEADER --------------------------------------------- */  
.capa {
    height: 320px;
    background-image: url(../Images/capa.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

nav {
    display: flex;
    gap: 55px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffffffbd;
}

.logo {
    width: 280px;
    height: 280px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.text1, .text2 {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 35%; 
    color: #fff;
}

.text1 {
    left: 40px; 
    text-align: left;
}

.text2 {
    right: 40px; 
    text-align: right;
}


/* Sections --------------------------------------------- */  

.barra {
    width: 100%;
    height: 5px;
    background-color: rgb(5, 32, 7);
}
.container-white {
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
}

.container-green {
    width: 50%;
    height: 340%;
    background-color: #25542d;
    position: absolute;
    right: 0;
}

.photo1 {
    position: relative;
    width: 750px;
    height: 420px;
    margin-top: 40px;
    margin-left: 4%;
    z-index: 2; 
    border-radius: 35px;
}

.photo2 {
    position: relative;
    width: 750px;
    height: 420px;
    margin-top: 55px;
    margin-left: 4%;
    z-index: 2; 
    border-radius: 35px;
}

.topic h2 {
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    
}


.topic {
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    
}

.topic span {
    color: rgb(108, 105, 105);
    cursor: pointer;
}

.topic span :hover {
    color: rgb(85, 83, 83);
}

.topic h3 {
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(65, 64, 64);
}


.t {
    max-width: 90%;
    margin-left: 40px;
    
}


/* Asides --------------------------------------------- */  


.sidebar, 
.sidebar2,
.sidebar3 {
    margin-right: -60px;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: white; 
    position: absolute;
    right: 10%;
    top: 395px; 
    color: rgb(0, 0, 0); 
    border-radius: 2px;
}

.sidebar2 {
    width: 30%;
    height: 500px;
    padding: 20px;
    background-color: white; 
    position: absolute;
    right: 10%;
    top: 500px; 
    color: rgb(0, 0, 0); 
    border-radius: 2px;
}

.sidebar3 {
    width: 30%;
    height: 300px;
    padding: 20px;
    background-color: white; 
    position: absolute;
    right: 10%;
    top: 1030px; 
    color: rgb(0, 0, 0); 
    border-radius: 2px;
}


