h2 {
    color: red
}

p{
    color: black
    ;
}

/* Media Query */

@media screen and (max-width: 500px) {
    h2{
        color: blue;
    }
}

@media screen and (min-width: 800px) {
    p{
        color: rgb(255, 0, 0);
    }
}

h3{
    display: none;
}

@media screen and (orientation: landscape) {
    h3{
        display: block;
    }    
}


